{% extends "layout.html" %}
{% block body %}
    <fieldset>
        <legend><h2>Art&Craft</h2></legend>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/SXej2udThXs" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/3of1k6I3ja4" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/vwMH9eJGTcU" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </fieldset>
    <hr>
    <fieldset>
        <legend><h2>Nursery Rhymes </h2></legend>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/WRVsOCh907o" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/e_04ZrNroTo" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/MR5XSOdjKMA" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </fieldset>
    <hr>
    <fieldset>
        <legend><h2>Dancing videos</h2></legend>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/mVl8QXijK_Q" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/2Usy6nmazxs" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/UiFjZcOrMO0" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </fieldset>
    <hr>
    <fieldset>
        <legend><h2>Bedtime Stories</h2></legend>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/pckuS--UlV4" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/75NQK-Sm1YY" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="425" height="270" src="https://www.youtube.com/embed/0CEu2YvMmMs" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </fieldset>
    <hr>
{% endblock %}